<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eva.dtholiday.commons.dao.mapper.portalmanagement.IslandManagementMapper">


    <select id="queryIslandManagementList" resultType="com.eva.dtholiday.commons.dao.entity.portalmanagement.IslandManagementTag" parameterType="map">
        select island.island_index_code,
        island.island_en_name,
        island.island_cn_name,
        island.island_desc,
        tag.tag_name,
        tag.tag_index_code
        from dt_island as island
        left join dt_island_tag_relation as relation on relation.island_index_code = island.island_index_code
        left join dt_island_tag as tag on tag.tag_index_code = relation.tag_index_code
        <where>
            <if test="map.islandEnName != null and map.islandEnName != ''">
                and island.island_en_name like concat('%',#{map.islandEnName},'%')
            </if>
            <if test="map.islandCnName != null and map.islandCnName != ''">
                and island.island_cn_name like concat('%',#{map.islandCnName},'%')
            </if>
            <if test="map.tagIndexCodeList != null and !map.tagIndexCodeList.isEmpty ">
                and tag.tag_index_code in
                <foreach collection="map.tagIndexCodeList" item="tagIndexCode" open="(" separator="," close=")">
                    #{tagIndexCode}
                </foreach>
            </if>
        </where>
        order by island.update_time desc
        LIMIT #{map.page},#{map.pageSize}
    </select>
    <select id="queryIslandManagementListCount" resultType="java.lang.Integer">
        select count(*)
        from dt_island as island
        left join dt_island_tag_relation as relation on relation.island_index_code = island.island_index_code
        left join dt_island_tag as tag on tag.tag_index_code = relation.tag_index_code
        <where>
            <if test="map.islandEnName != null and map.islandEnName != ''">
                and island.island_en_name like concat('%',#{map.islandEnName},'%')
            </if>
            <if test="map.islandCnName != null and map.islandCnName != ''">
                and island.island_cn_name like concat('%',#{map.islandCnName},'%')
            </if>
            <if test="map.tagIndexCodeList != null and !map.tagIndexCodeList.isEmpty ">
                and tag.tag_index_code in
                <foreach collection="map.tagIndexCodeList" item="tagIndexCode" open="(" separator="," close=")">
                    #{tagIndexCode}
                </foreach>
            </if>
        </where>
    </select>
</mapper>
