<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eva.dtholiday.commons.dao.mapper.portalmanagement.IslandQuotationMapper">

    <insert id="insertBatch">
        INSERT INTO dt_island_quotation (island_index_code, quotation_file, create_time, update_time)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.islandIndexCode}, #{item.quotationFile}, #{item.createTime}, #{item.updateTime})
        </foreach>
    </insert>
    <select id="selectIslandQuotationByIslandIndexCode"
            resultType="com.eva.dtholiday.commons.dao.entity.portalmanagement.IslandQuotation">
        select distinct q.quotation_index_code, q.quotation_file, q.island_index_code, q.quotation_type, q.quotation_name
        from dt_island_quotation q
        left join dt_island_quotation_relation tr on t.tag_index_code = tr.tag_index_code
        where tr.island_index_code = #{islandIndexCode}
    </select>
</mapper>
