<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eva.dtholiday.commons.dao.mapper.portalmanagement.IslandTagRelationMapper">
    <insert id="insertBatch" >
        insert into dt_island_tag_relation(island_index_code,tag_index_code,create_time,update_time)
        values
        <foreach collection="list" item="item" separator=",">
            (#{item.islandIndexCode},#{item.tagIndexCode},#{item.createTime},#{item.updateTime})
        </foreach>
    </insert>
    <delete id="deleteBatchByIslandIndexCode">
        delete from dt_island_tag_relation
        <where>
            island_index_code in
            <foreach collection="list" item="item" separator="," open="(" close=")">
                #{item}
            </foreach>
        </where>
    </delete>
    <delete id="deleteBatchByTagIndexCode">
        delete from dt_island_tag_relation
        <where>
            tag_index_code in
            <foreach collection="list" item="item" separator="," open="(" close=")">
                #{item}
            </foreach>
        </where>
    </delete>
</mapper>
