<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eva.dtholiday.commons.dao.mapper.orderManagement.IslandHotelOrderMapper">

    <select id="countIslandHotelOrderList" resultType="java.lang.Integer">
        SELECT count(1)
        FROM
        dt_order_island a
        left join dt_traffic_management c on a.traffic_type = c.traffic_index_code
        left join dt_meal_management d on a.meal_type = d.meal_index_code
        <where>
            <if test="customerName != null and customerName != ''">
                and a.customer_name = #{customerName}
            </if>
            <if test="islandCnName != null and islandCnName != ''">
                and a.island_cn_name = #{islandCnName}
            </if>
            <if test="orderStatus != null ">
                and a.order_status = #{orderStatus}
            </if>
            <if test="financialStatus != null ">
                and a.financial_status = #{financialStatus}
            </if>
        </where>
    </select>

    <select id="queryIslandHotelOrderList"
            resultType="com.eva.dtholiday.commons.dao.entity.orderManagement.islandhotelorder.IslandHotelOrderInfo">
        SELECT
        a.island_hotel_order_id,
        a.order_type,
        a.customer_name,
        a.adult_num,
        a.child_num,
        a.first_child_age,
        a.second_child_age,
        a.nights,
        a.island_cn_name,
        a.has_environment_tax,
        a.traffic_type,
        c.traffic_name,
        a.meal_type,
        a.meal_name,
        a.hotel_room_type,
        a.delay_hotel_room_type,
        a.effective_date,
        a.expiry_date,
        a.currency_type,
        a.total_price,
        a.discount_price,
        a.booking_code,
        a.cost_price,
        a.discount,
        a.order_status,
        a.financial_status,
        a.sale_man,
        a.financial_man,
        a.create_time,
        a.update_time
        FROM
        dt_order_island a
        left join dt_traffic_management c on b.traffic_type = c.traffic_index_code
        left join dt_meal_management d on b.meal_type = d.meal_index_code
        <where>
            <if test="customerName != null and customerName != ''">
                and customer_name = #{customerName}
            </if>
            <if test="islandCnName != null and islandCnName != ''">
                and island_cn_name = #{islandCnName}
            </if>
            <if test="orderStatus != null ">
                and order_status = #{orderStatus}
            </if>
            <if test="financialStatus != null ">
                and financial_status = #{financialStatus}
            </if>
        </where>
        order by update_time desc
        LIMIT #{from},#{to}
    </select>

    <select id="queryIslandHotelOrderById"
            resultType="com.eva.dtholiday.commons.dao.entity.orderManagement.islandhotelorder.IslandHotelOrderInfo">
        SELECT a.island_hotel_order_id,
               a.order_type,
               a.customer_name,
               a.adult_num,
               a.child_num,
               a.first_child_age,
               a.second_child_age,
               a.nights,
               a.island_cn_name,
               a.has_environment_tax,
               a.traffic_type,
               c.traffic_name,
               a.meal_type,
               d.meal_name,
               a.hotel_room_type,
               a.delay_hotel_room_type,
               a.effective_date,
               a.expiry_date,
               a.currency_type,
               a.total_price,
               a.discount_price,
               a.booking_code,
               a.cost_price,
               a.discount,
               a.order_status,
               a.financial_status,
               a.sale_man,
               a.financial_man,
               a.create_time,
               a.update_time
        FROM dt_order_island a
                 left join dt_traffic_management c on b.traffic_type = c.traffic_index_code
                 left join dt_meal_management d on b.meal_type = d.meal_index_code
        where island_hotel_order_id = #{islandHotelOrderId}
    </select>
</mapper>
