<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eva.dtholiday.commons.dao.mapper.RoleMapper">

    <select id="selectRoleByUserCode" resultType="com.eva.dtholiday.commons.dao.entity.Role">
        select distinct r.id, r.role_name, r.role_code
        from sys_role r
        left join sys_user_role ur on r.role_code = ur.role_code
        where ur.user_code = #{userCode}
    </select>

</mapper>
